<div class="login">
    <h2 class="login-header">{{'App_Name' | translation}}</h2>
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.username.errors }">
        <input type="username" placeholder="{{'Login.UserNamePlaceholder' | translation}}" formControlName="username">
      </p>
  
      <div *ngIf="isSubmitted && formControls.username.errors" class="help-block">
        <div *ngIf="formControls.username.errors.required">{{'Login.UserNameRequired' | translation}}</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="{{'Login.PasswordPlaceholder' | translation}}" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">{{'Login.PasswordRequired' | translation}}</div>
      </div>
     <input type="submit" value="{{'Login.Login' | translation}}">
      
    </form>
  </div>