@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body { 
  margin: 0;
  height: 100%;
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}
.basic-container {
  padding: 30px;
}
.version-info {
  font-size: 8pt;
  float: right;
  margin: 8px;
}

mat-dialog-container#modal-component {
  border: 3px solid #262626;
  border-radius: 11px;
  background-color: #673ab7;
}